[include]
    path = ~/.gitconfig.local

[core]
    autocrlf = input
    pager = delta

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
